img{
    border: 2px solid ;
    width: 394px;
    height: 475px;
 padding-bottom: 16px;
 padding: 1em;
 margin: 1.5%;
 background-color: white;
}
h1{
    background-color: rgb(224, 224, 224);
    text-align: center;
}
section{
    background-color: darkgrey;
    padding: 16px;
    border: 2px solid;
font-size: 25px;
letter-spacing: 2px;
    border-color: rgb(0, 0, 0);
    padding-left: 16px;
}
body{

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(189, 189, 189);
width: 98%;
padding-left: 8px;
}
h1,h2{
    text-transform: uppercase;
}
a:hover{
background-color: rgb(167, 167, 167);
color: whitesmoke;
transition: all;
}
header{
margin: 0%;
    font-size: large;
}