img{
    border: 2px solid ;
    width: 374px;
    height: 465px;
 padding: 1.5em;
 margin: 6px;
 background-color: white;
}
h1{
    background-color: rgb(224, 224, 224);
    text-align: center;
}
a{
    color: black;
}
section{
    background-color: darkgrey;
    padding: 16px;
    border: 2px solid;
font-size: 25px;
letter-spacing: 2px;
    border-color: rgb(0, 0, 0);
    padding-left: 16px;
}
body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(189, 189, 189);
width: 98%;
padding-left: 8px;
}
h1,h2{
    text-transform: uppercase;
}
a:hover{
background-color: black;
color: white;
transition: all;
}
html{
    padding-left: 16px;
}
header{
margin: 0%;
    font-size: large;
}
footer{

    padding-top: 1.5%;
}
h3{
    padding-bottom: 1.5%;
}